<div class="widget">
    <div ba-panel ba-panel-title="Schedules List" ba-panel-class="with-scroll table-panel">
        <div class="horizontal-scroll">
            <table class="table table-hover">
                <thead>
                <tr class="black-muted-bg">

                    <th ng-class="align-left">Schedule Name</th>
                    <th ng-class="align-left">Schedule</th>
                    <th ng-class="align-left">Channels</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.schedules" class="no-top-border" ng-click="vm.setClickedRow($event,item)">

                    <td ng-class="align-left">{{item.schedule_name}}</td>
                    <td ng-class="align-left">{{vm.scheduleText(item.cronCommand)}}</td>
                    <!--<td ng-class="align-left">{{vm.listDevices(item.devices)}}</td>-->


                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>