<div class="widgets">
    <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">

            <th ng-class="align-left">Channel Name</th>
            <th ng-class="align-left">Channel state</th>


        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.newUnitList" class="no-top-border" ng-click="vm.setClickedRow($event,item)">

            <td ng-class="align-left">{{item.name}}</td>
            <td ng-class="align-left">
                <button type="button" class="btn btn-warning" ng-click="vm.adopt($event,item)">Add</button>
            </td>


        </tr>
        </tbody>
    </table>
</div>
